<ngx-page-main-dashbord
  [title]="'DASHBOARD'"
  [hasBody]="true"
>
  <div header-content class=" row" *ngIf="!loading;">
    <div class=" col-xl-3 col-md-6">
    </div>
  </div>

  <div body-content class="container-fluid mt-6" *ngIf="!loading; else loadingTemplate">
    <div class="card">
      <div class="card-header mx-4">
        <h1> Access token </h1>
      </div>
      <div class="card-body row">
        <textarea name="" id="" [value]="token" readonly cols="30" rows="10" class="form-control col-12"></textarea>
      </div>
    </div>
  </div>

</ngx-page-main-dashbord>

<ng-template #loadingTemplate>
  <app-custom-loader></app-custom-loader>
</ng-template>
