<ngx-page-main-dashbord
  [title]="'grid.collections.model' | translate"
  [hasBody]="true"
>
  <div body-content class="container-fluid mt--6">
    <div class=" row">
      <div class="col-12">
        <div class=" card">
          <div class="card-header">
            <h3 class="h3 mb-0pt-lg-3 pb-lg-1">
              {{ 'grid.collections.new' | translate }}
            </h3>
          </div>
          <div class="card-body" *ngIf="!loading; else loadingTemplate">
            <form class="ng-untouched ng-pristine ng-valid" (ngSubmit)="onSubmit(form)" #form="ngForm">
              <div class="row">
                <div class="form-group col-md-12 col-12">
                  <label class=" form-control-label">
                    {{ 'grid.collections.title' | translate }}
                  </label>
                  <input
                    class="form-control"
                    type="text"
                    [(ngModel)]="collection.title"
                    [name]="('grid.collections.title' | translate) || 'Titre'"
                    [placeholder]="'grid.collections.title' | translate"
                    #title="ngModel"
                    minlength="2"
                    maxlength="60"
                    required
                  >
                  <p class="text-danger" *ngIf="customFormValidationService.has(title)">
                    {{ customFormValidationService.first(title) }}
                  </p>
                </div>

                <div class="form-group col-md-6 col-12">
                  <label class=" form-control-label">
                    {{ 'grid.collections.author' | translate }}
                  </label>
                  <select
                    class="form-control"
                    [name]="('grid.collections.author' | translate) || 'Auteur'"
                    required
                    #author="ngModel"
                    [(ngModel)]="collection.author"
                    data-toggle="select"
                  >
                    <option [value]="null"></option>
                    <option *ngFor="let author of authors" [value]="author.id">
                      {{ author.firstname }} {{ author.lastname }}
                    </option>
                  </select>
                  <p class="text-danger" *ngIf="customFormValidationService.has(author)">
                    {{ customFormValidationService.first(author) }}
                  </p>
                </div>
                <div class="form-group col-md-6 col-12">
                  <label class=" form-control-label">
                    {{ 'grid.collections.category' | translate }}
                  </label>
                  <select
                    class="form-control"
                    [name]="('grid.collections.category' | translate) || 'Catégorie'"
                    required
                    #category="ngModel"
                    [(ngModel)]="collection.category"
                    data-toggle="select"
                  >
                    <option [value]="null"></option>
                    <option *ngFor="let category of categories" [value]="category.id">
                      {{ category.title }}
                    </option>
                  </select>
                  <p class="text-danger" *ngIf="customFormValidationService.has(category)">
                    {{ customFormValidationService.first(category) }}
                  </p>
                </div>
                <div class="form-group mb-3 col-12">
                  <ngx-dropzone accept=".png, .jpg, .jpeg" [multiple]="false" (change)="onSelectCoverFiles($event)">
                    <ngx-dropzone-label>
                      {{ 'grid.collections.cover' | translate }}
                    </ngx-dropzone-label>
                    <ngx-dropzone-preview
                      *ngFor="let f of coverFiles" [removable]="true"
                      (removed)="onRemoveCoverFiles(f)"
                    >
                      <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                    </ngx-dropzone-preview>
                  </ngx-dropzone>
                </div>
                <div class="form-group col-12 mt-3">
                  <label class=" form-control-label">
                    {{ 'grid.collections.description' | translate }}
                  </label>
                  <angular-editor
                    [(ngModel)]="collection.description"
                    [config]="{minHeight: '250px', editable: true}"
                    [name]="('grid.collections.description' | translate) || 'Description'"
                    [placeholder]="'grid.collections.description' | translate"
                    #description="ngModel"
                    minlength="25"
                    required
                  ></angular-editor>

                  <p class="text-danger" *ngIf="customFormValidationService.has(description)">
                    {{ customFormValidationService.first(description) }}
                  </p>
                </div>
                <div class="form-group text-right col-12">
                  <button
                    type="button" class="btn btn-default text-uppercase"
                    routerLink="/collections"
                  >
                    <i class="fa fa-times"></i> {{ 'buttons.cancel' | translate }}
                  </button>
                  <button [disabled]="form.invalid || submited" class="btn btn-success text-uppercase">
                    <i class="fa fa-save"></i> {{ 'buttons.save' | translate }}
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</ngx-page-main-dashbord>

<ng-template #loadingTemplate>
  <app-custom-loader></app-custom-loader>
</ng-template>
