<ngx-page-main-dashbord
  [title]="'grid.authors.model' | translate"
  [hasBody]="true"
>
  <div body-content class="container-fluid mt--6" *ngIf="!loading; else loadingTemplate">
    <div class="card">
      <div class="card-header">
        <div class="row container-fluid">
          <div class="col-md-6 col-12 text-left">
            <h4 class="modal-title" id="modal-basic-title">
              {{ author.firstname }} {{ author.lastname }}
            </h4>
          </div>
          <div class="text-right col-md-6 col-12">
            <button
              type="button" class="btn btn-outline-dark"
              [routerLink]="'/authors'"
            >
              <i class="fa fa-sign-out-alt"></i> {{ 'buttons.back' | translate }}
            </button>
          </div>
        </div>
      </div>
      <div class="card-body container-fluid mt-5">
        <div class="col-sm-12">
          <div class="card card-profile">
            <div class=" row justify-content-center">
              <div class="col-lg-3 order-lg-2">
                <div class=" card-profile-image">
                  <img
                    style="width: 125px; height: 125px; border-radius: 100%;"
                    [src]="author.profilePic"
                  >
                </div>
              </div>
            </div>
            <div class="card-body mt-5">
              <div class=" row">
                <div class=" col">
                  <div class="card-profile-stats d-flex justify-content-center">
                    <div>
                      <h3 class="h3">
                        {{ author.firstname }} {{ author.lastname }}
                      </h3>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-12 col-md-6 h4 font-weight-500">
                  <i class="fa fa-envelope-open mr-2"></i>
                  {{ author.email }}
                </div>
                <div class="col-12 col-md-6 h5 font-weight-500">
                  <i class="fa fa-at mr-2"></i>
                  @{{ author.pseudo }}
                </div>
                <div class="col-12 col-md-6 h5 font-weight-500">
                  <i class="fa fa-phone mr-2 mt-4"></i>
                  {{ author.phoneNumber }}
                </div>
                <div class="col-12 col-md-6 h5 mt-4">
                  <i class="ni ni-collection mr-2"></i>
                  {{ 'grid.collections.model' | translate }} ({{ author?.collections?.length || 0 }})
                </div>
              </div>
              <div class="row mt-3">
                <div class="col-12 col-md-4">
                  <div class=" card bg-gradient-info border-0">
                    <div class=" card-body">
                      <div class=" row">
                        <div class=" col">
                          <h6 class=" card-title text-uppercase text-muted mb-0 text-white">
                            {{ 'grid.authors.listened' | translate }}
                          </h6>
                          <span class=" h2 font-weight-bold mb-0 text-white">
                            {{ (author.listeningCount || 0) | numberFormat }}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-12 col-md-4">
                  <div class=" card bg-gradient-success border-0">
                    <div class=" card-body">
                      <div class=" row">
                        <div class=" col">
                          <h6 class=" card-title text-uppercase text-muted mb-0 text-white">
                            {{ 'grid.authors.royalty' | translate }}
                          </h6>
                          <span class=" h2 font-weight-bold mb-0 text-white">
                            {{ (author.listeningUnpaid || 0) | currencyFormat }}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class=" col-md-4 col-12">
                  <div class=" card bg-gradient-warning border-0">
                    <div class=" card-body">
                      <div class=" row">
                        <div class=" col">
                          <h6 class=" card-title text-uppercase text-muted mb-0 text-white">
                            {{ 'grid.authors.pay' | translate }}
                          </h6>
                          <span class=" h2 font-weight-bold mb-0 text-white">
                            {{ (author.listeningCount || 0) | currencyFormat }}
                          </span>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="card-body mt5">
              <h2>{{ 'grid.authors.bio' | translate }}</h2>
              <div [innerHtml]="author.bio"></div>
            </div>
          </div>
        </div>
      </div>

      <div class="card-body">
      </div>

      <div class="card-footer text-right">
        <div class="container-fluid">
          <button
            type="button" class="btn btn-outline-dark"
            [routerLink]="'/authors'"
          >
            <i class="fa fa-sign-out-alt"></i> {{ 'buttons.back' | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</ngx-page-main-dashbord>

<ng-template #loadingTemplate>
  <app-custom-loader></app-custom-loader>
</ng-template>
