<ngx-page-main-dashbord
  [title]="'grid.collections.model' | translate"
  [hasBody]="true"
>
  <div body-content class="container-fluid mt--6" *ngIf="true;">
    <div class=" row">
      <div class="col-12">
        <div class=" card">
          <div class="card-header">

            <h5 class="h3 mb-0pt-lg-3 pb-lg-1 text-right">
              <ng-container *ngIf="role === 'ADMIN' || role === 'AGENT'">
                <button
                  type="button" class="btn btn-outline-default"
                  routerLink="/collections/create"
                >
                  <i class="fa fa-plus"></i>
                  {{ 'buttons.new' | translate }}
                </button>
              </ng-container>
              <ng-container *ngIf="role === 'DESIGNER'">
                <button
                  type="button" class="btn btn-outline-default disabled"
                >
                  <i class="fa fa-ban"></i>
                  {{ 'buttons.new' | translate }}
                </button>
              </ng-container>
            </h5>
          </div>
          <div class=" card-body">
            <div class="dataTables_wrapper" *ngIf="!loading; else loadingTemplate">
              <div class="row">
                <div class="col-sm-12 col-md-6">
                  <div class="dataTables_length" id="datatable_length">
                    <label>
                      {{ 'grid.show' | translate }}
                      <select
                        name="datatable_length"
                        aria-controls="datatable"
                        class="form-control form-control-sm"
                        (change)="entriesChange($event)"
                      >
                        <option value="10" [selected]="entries == 10">10</option>
                        <option value="25" [selected]="entries == 25">25</option>
                        <option value="50" [selected]="entries == 50">50</option>
                        <option value="-1" [selected]="entries == -1"> {{ 'buttons.all' | translate }} </option>
                      </select>
                      {{ 'grid.entries' | translate }}
                    </label>
                  </div>
                </div>
                <div class="col-sm-12 col-md-6">
                  <div id="datatable_filter" class="dataTables_filter">
                    <label>
                      <input
                        type="search"
                        class="form-control form-control-sm"
                        placeholder="{{ 'grid.datatable.search' | translate }}"
                        aria-controls="datatable"
                        (keyup)="filterTable($event)"
                      />
                    </label>
                  </div>
                </div>
              </div>
              <ngx-datatable
                class="bootstrap selection-cell"
                [columnMode]="'force'"
                [headerHeight]="50"
                [footerHeight]="60"
                [rowHeight]="'auto'"
                [limit]="entries != -1 ? entries : undefined"
                [rows]="temp"
                (activate)="onActivate($event)"
              >
                <ngx-datatable-column
                  prop="pseudo" [name]="'grid.collections.identity' | translate" [sortable]="false"
                  [minWidth]="280"
                >
                  <ng-template let-item="row" let-value="value" ngx-datatable-cell-template>
                    <td class=" table-user">
                      <img
                        style="cursor: pointer"
                        class="avatar rounded-circle mr-2"
                        [src]="item.cover"
                        (click)="seeCollection(seeCover, item)"
                      >
                      <b> {{ item.title }} </b>
                    </td>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="pseudo" [name]="'grid.collections.author' | translate" [minWidth]="150">
                  <ng-template let-item="row" let-value="value" ngx-datatable-cell-template>
                    <td>
                      {{ item?.author?.firstname }} {{ item?.author?.lastname }}
                    </td>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="email" [name]="'grid.collections.category' | translate" [minWidth]="120">
                  <ng-template let-item="row" let-value="value" ngx-datatable-cell-template>
                    <td>
                      {{ item?.category?.title }}
                    </td>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="listened" [name]="'grid.collections.tailes' | translate" [minWidth]="100">
                  <ng-template let-item="row" let-value="value" ngx-datatable-cell-template>
                    <td class="text-center">
                      {{ item?.tailes?.length || 0 }}
                    </td>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="coverDesigned" [name]="'grid.collections.designed' | translate"
                                      [minWidth]="100">
                  <ng-template let-item="row" let-value="value" ngx-datatable-cell-template>
                    <td class="text-center">
                      <span
                        class="badge badge-pill badge-lg badge-success text-uppercase"
                        *ngIf="item.coverDesigned"
                      >
                        {{ 'buttons.yes' | translate }}
                      </span>
                      <span
                        class="badge badge-pill badge-lg badge-danger text-uppercase"
                        *ngIf="!item.coverDesigned">
                        {{ 'buttons.no' | translate }}
                      </span>
                    </td>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column prop="validated" [name]="'grid.collections.validated' | translate"
                                      [minWidth]="100">
                  <ng-template let-item="row" let-value="value" ngx-datatable-cell-template>
                    <td class="text-center">
                      <span
                        class="badge badge-pill badge-lg badge-success text-uppercase"
                        *ngIf="item.validated"
                      >
                        {{ 'buttons.yes' | translate }}
                      </span>
                      <span
                        class="badge badge-pill badge-lg badge-danger text-uppercase"
                        *ngIf="!item.validated">
                        {{ 'buttons.no' | translate }}
                      </span>
                    </td>
                  </ng-template>
                </ngx-datatable-column>

                <ngx-datatable-column
                  [name]="'grid.actions' | translate"
                  [sortable]="false" prop="key"
                  [maxWidth]="100"
                >
                  <ng-template let-item="row" let-value="value" ngx-datatable-cell-template>
                    <td>
                      <div class="dropdown">
                        <a
                          class="btn btn-sm btn-icon-only text-light"
                          id="dropdownMenuButton-1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                        >
                          <i class=" fas fa-ellipsis-v"> </i>
                        </a>
                        <div class="dropdown-menu dropdown-menu dropdown-menu-right dropdown-menu-arrow"
                             aria-labelledby="dropdownMenuButton">
                          <a class="dropdown-item" href="javascript:void()">{{ 'grid.actions' | translate }}</a>
                          <a
                            type="button" class="dropdown-item"
                            (click)="seeCollection(seeCollectionModale, item)"
                          >
                            {{ 'buttons.preview' | translate }}
                          </a>
                          <a
                            type="button" class="dropdown-item"
                            [routerLink]="'/collections/show/'+ item.id"
                          >
                            {{ 'buttons.details' | translate }}
                          </a>
                          <ng-container *ngIf="role === 'ADMIN' || role === 'AGENT'">
                            <a
                              type="button" class="dropdown-item"
                              [routerLink]="'/collections/update/'+ item.id"
                            >
                              {{ 'buttons.update' | translate }}
                            </a>
                            <a
                              type="button" class="dropdown-item"
                              (click)="questionToDelete(item.id)"
                            >
                              {{ 'buttons.delete' | translate }}
                            </a>
                          </ng-container>
                        </div>
                      </div>
                    </td>
                  </ng-template>
                </ngx-datatable-column>
              </ngx-datatable>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</ngx-page-main-dashbord>

<ng-template #loadingTemplate>
  <app-custom-loader></app-custom-loader>
</ng-template>

<ng-template #seeCollectionModale let-modal>
  <div class="card">
    <div class="card-header">
      <h4 class="modal-title" id="modal-basic-title">
        {{ 'buttons.previewing' | translate }} :: {{ currentCollection.title }}
      </h4>
    </div>
    <div class="card-body container-fluid mt-5">
      <div class="col-sm-12">
        <div class="card card-profile">
          <div class=" row justify-content-center">
            <div class="col-lg-3 order-lg-2">
              <div class=" card-profile-image">
                <img
                  style="width: 125px; height: 125px; border-radius: 100%;"
                  [src]="currentCollection.cover"
                >
              </div>
            </div>
          </div>
          <div class="card-body mt-5">
            <div class=" row">
              <div class=" col">
                <div class="card-profile-stats d-flex justify-content-center">
                  <div>
                    <h3 class="h3">
                      {{ currentCollection.title }}
                    </h3>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-12 col-md-4 h4 font-weight-500">
                <i class="fa fa-layer-group mr-2"></i>
                {{ currentCollection?.category?.title }}
              </div>

              <ng-container *ngIf="role === 'ADMIN' || role === 'DESIGNER'">
                <div
                  class="col-12 col-md-4 h5" style="cursor: pointer"
                  (click)="questionToValidateCover(currentCollection.id)"
                >
                  <i class="fa fa-check-double mr-2"></i>
                  {{ 'grid.tailes.cover-validate' | translate }}
                  <span class="badge badge-pill badge-lg badge-success text-uppercase"
                        *ngIf="currentCollection.coverDesigned">
                  {{ 'buttons.yes' | translate }}
                </span>
                  <span class="badge badge-pill badge-lg badge-danger text-uppercase"
                        *ngIf="!currentCollection.coverDesigned">
                  {{ 'buttons.no' | translate }}
                </span>
                </div>
              </ng-container>
              <ng-container *ngIf="role === 'ADMIN'">
                <div class="col-12 col-md-4 h5 text-right" style="cursor: pointer"
                     (click)="questionToValidateContent(currentCollection.id)">
                  <i class="fa fa-check-double mr-2"></i>
                  {{ 'grid.tailes.admin-validate' | translate }}
                  <span class="badge badge-pill badge-lg badge-success text-uppercase"
                        *ngIf="currentCollection.validated">
                  {{ 'buttons.yes' | translate }}
                </span>
                  <span class="badge badge-pill badge-lg badge-danger text-uppercase"
                        *ngIf="!currentCollection.validated">
                  {{ 'buttons.no' | translate }}
                </span>
                </div>
              </ng-container>

              <ng-container *ngIf="role === 'AGENT'">
                <div
                  class="col-12 col-md-4 h5"
                >
                  <i class="fa fa-check-double mr-2"></i>
                  {{ 'grid.tailes.cover-validate' | translate }}
                  <span class="badge badge-pill badge-lg badge-success text-uppercase"
                        *ngIf="currentCollection.coverDesigned">
                  {{ 'buttons.yes' | translate }}
                </span>
                  <span class="badge badge-pill badge-lg badge-danger text-uppercase"
                        *ngIf="!currentCollection.coverDesigned">
                  {{ 'buttons.no' | translate }}
                </span>
                </div>
              </ng-container>
              <ng-container *ngIf="role === 'DESIGNER' || role === 'AGENT'">
                <div class="col-12 col-md-4 h5 text-right">
                  <i class="fa fa-check-double mr-2"></i>
                  {{ 'grid.tailes.admin-validate' | translate }}
                  <span class="badge badge-pill badge-lg badge-success text-uppercase"
                        *ngIf="currentCollection.validated">
                  {{ 'buttons.yes' | translate }}
                </span>
                  <span class="badge badge-pill badge-lg badge-danger text-uppercase"
                        *ngIf="!currentCollection.validated">
                  {{ 'buttons.no' | translate }}
                </span>
                </div>
              </ng-container>

              <div class="col-12 col-md-6 h5 font-weight-500">
                <i class="fa fa-headphones-alt mr-2 mt-4"></i>
                {{ 'grid.tailes.histories' | translate }}
              </div>
              <div class="col-12 col-md-6 h5 text-right font-weight-500">
                <i class="fa fa-user-alt mr-2 mt-4"></i>
                {{ currentCollection?.author?.firstname }} {{ currentCollection?.author?.lastname }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-footer text-right">
      <div class="container-fluid">
        <button type="button" class="btn btn-outline-danger" (click)="modal.close('')">
          <i class="fa fa-times"></i> {{ 'buttons.close' | translate }}
        </button>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #seeCover let-modal>
  <div class="card">
    <div class="card-header">
      <div class="container">
        <div class="row">
          <div class="text-left col-11">
            <h4 class="modal-title">
              {{ 'buttons.previewing' | translate }} :: {{ currentCollection.title }}
            </h4>
          </div>
          <div class="text-right col-1">
            <div class="dropdown">
              <a
                class="btn btn-sm btn-icon-only text-light"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
              >
                <i class=" fas fa-ellipsis-v"> </i>
              </a>
              <div
                class="dropdown-menu dropdown-menu dropdown-menu-right dropdown-menu-arrow"
                aria-labelledby="dropdownMenuButton"
              >
                <a class="dropdown-item" href="javascript:void()">{{ 'grid.actions' | translate }}</a>
                <a class="dropdown-item" [href]="currentCollection.cover"
                   [download]="currentCollection.title">{{ 'grid.download' | translate }}</a>
                <a
                  class="dropdown-item"
                  href="javascript:void()"
                  (click)="updateCollection(updateCoverModal, currentCollection)"
                >
                  {{ 'grid.change-pic' | translate }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body container-fluid">
      <div class="col-sm-12">
        <div class="card card-profile">
          <div class="card-body text-center">
            <img
              style="width: 80%;"
              [src]="currentCollection.cover"
            >
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer text-right">
    <div class="container-fluid">
      <button type="button" class="btn btn-outline-danger" (click)="modal.close('')">
        <i class="fa fa-times"></i> {{ 'buttons.close' | translate }}
      </button>
    </div>
  </div>
</ng-template>
<ng-template #updateCoverModal let-modal>
  <div class="card">
    <div class="card-header">
      <div class="container">
        <div class="row">
          <div class="text-left col-12">
            <h4 class="modal-title">
              {{ 'buttons.previewing' | translate }} :: {{ currentCollection.title }}
            </h4>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body container-fluid">
      <div class="col-sm-12">
        <form class="ng-untouched ng-pristine ng-valid" (ngSubmit)="onSubmit(form)" #form="ngForm">
          <div class="row">
            <div class="form-group mb-3 col-12">
              <ngx-dropzone accept=".png, .jpg, .jpeg" [multiple]="false" (change)="onSelectCoverFiles($event)">
                <ngx-dropzone-label>
                  {{ 'grid.collections.cover' | translate }}
                </ngx-dropzone-label>
                <ngx-dropzone-preview
                  *ngFor="let f of coverFiles" [removable]="true"
                  (removed)="onRemoveCoverFiles(f)"
                >
                  <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                </ngx-dropzone-preview>
              </ngx-dropzone>
            </div>
            <div class="form-group text-right col-12">
              <button [disabled]="!(coverFiles && coverFiles.length) || submited" class="btn btn-success text-uppercase">
                <i class="fa fa-save"></i> {{ 'buttons.save' | translate }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>

    <div class="card-footer text-right">
      <div class="container-fluid">
        <button type="button" class="btn btn-outline-danger" (click)="modal.close('')">
          <i class="fa fa-times"></i> {{ 'buttons.close' | translate }}
        </button>
      </div>
    </div>
  </div>
</ng-template>
