<ngx-page-main-dashbord
  [title]="'grid.languages.model' | translate"
  [hasBody]="true"
>
  <div body-content class="container-fluid mt--6" *ngIf="!0;">
    <div class=" row">
      <div class="col-12">
        <div class=" card">
          <div class="card-header">
            <h3 class="h3 mb-0pt-lg-3 pb-lg-1">
              {{ 'grid.languages.new' | translate }}
            </h3>
          </div>
          <div class="card-body">
            <form class="ng-untouched ng-pristine ng-valid" (ngSubmit)="onSubmit(form)" #form="ngForm">
              <div class="row">
                <div class="form-group col-md-6 col-12">
                  <label class=" form-control-label">
                    {{ 'grid.languages.type' | translate }}
                  </label>
                  <select
                    class="form-control"
                    [name]="('grid.languages.type' | translate) || 'Type'"
                    required
                    #type="ngModel"
                    [(ngModel)]="language.type"
                    data-toggle="select" id="selectr"
                  >
                    <option [value]="null"></option>
                    <option *ngFor="let type of ['MAIN', 'LOCAL']" [value]="type">
                      {{ ('grid.languages.types.' + type) | translate }}
                    </option>
                  </select>
                  <p class="text-danger" *ngIf="customFormValidationService.has(type)">
                    {{ customFormValidationService.first(type) }}
                  </p>
                </div>
                <div class="form-group col-md-6 col-12">
                  <label class=" form-control-label">
                    {{ 'grid.languages.code' | translate }}
                  </label>
                  <input
                    class="form-control"
                    type="text"
                    [(ngModel)]="language.code"
                    [name]="('grid.languages.code' | translate) || 'Code'"
                    [placeholder]="'grid.languages.code' | translate"
                    #code="ngModel"
                    minlength="2"
                    maxlength="60"
                    required
                  >
                  <p class="text-danger" *ngIf="customFormValidationService.has(code)">
                    {{ customFormValidationService.first(code) }}
                  </p>
                </div>
                <div class="form-group col-md-12 col-12">
                  <label class=" form-control-label">
                    {{ 'grid.languages.title' | translate }}
                  </label>
                  <input
                    class="form-control"
                    type="text"
                    [(ngModel)]="language.title"
                    [name]="('grid.languages.title' | translate) || 'Titre'"
                    [placeholder]="'grid.languages.title' | translate"
                    #title="ngModel"
                    minlength="2"
                    maxlength="60"
                    required
                  >
                  <p class="text-danger" *ngIf="customFormValidationService.has(title)">
                    {{ customFormValidationService.first(title) }}
                  </p>
                </div>
                <div class="form-group text-right col-12">
                  <button
                    type="button" class="btn btn-default text-uppercase"
                    routerLink="/languages"
                  >
                    <i class="fa fa-times"></i> {{ 'buttons.cancel' | translate }}
                  </button>
                  <button [disabled]="form.invalid || submited" class="btn btn-success text-uppercase">
                    <i class="fa fa-save"></i> {{ 'buttons.save' | translate }}
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>

</ngx-page-main-dashbord>

<ng-template #loadingTemplate>

</ng-template>
