<div class=" main-content">
  <div class=" header bg-gradient-danger py-7 py-lg-8 pt-lg-9">
    <div class="separator separator-bottom separator-skew zindex-100">
      <svg
        x="0"
        y="0"
        viewBox="0 0 2560 100"
        preserveAspectRatio="none"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
      >
        <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
      </svg>
    </div>
  </div>

  <div class=" container mt--8 pb-5">
    <div class=" row justify-content-center">
      <div class=" col-lg-7 col-md-7">
        <div class=" card bg-secondary border-0 mb-0">
          <div class=" card-body px-lg-5 py-lg-5">
            <div class=" text-center text-muted mb-4">
              <h3> {{ 'auth.reset-password-title' | translate }} </h3>
              <p>
                {{ 'auth.reset-password-text' | translate }}
              </p>
            </div>
            <form role="form" #form="ngForm">
              <div
                class="form-group mb-3"
                [ngClass]="{ focused: focus === true }"
              >
                <div class="input-group input-group-alternative">
                  <div class="input-group-prepend">
                    <span class="input-group-text"
                    ><i class="ni ni-email-83"></i
                    ></span>
                  </div>
                  <input
                    class="form-control"
                    placeholder="Email"
                    type="email"
                    (focus)="focus = true"
                    (blur)="focus = false"
                    #email="ngModel"
                    [(ngModel)]="credential.email"
                    [name]="('auth.email' | translate) || 'E-mail'"
                    [placeholder]="'auth.email' | translate"
                    id="code"
                    required
                    email
                  />
                </div>
                <p class="text-danger" *ngIf="customFormValidationService.has(email)">
                  {{ customFormValidationService.first(email) }}
                </p>
              </div>
              <div class="text-center">
                <button
                  (click)="onSubmit()"
                  type="button" class="btn btn-primary my-4"
                  [disabled]="form.invalid"
                >

                  {{ 'auth.reset-password-button' | translate }}
                </button>
              </div>
            </form>
          </div>
        </div>

        <div class=" row mt-3">
          <div class=" col-6">
            <a class=" text-light" [routerLink]="'/auth'">
              <h6 class="text-white"> {{ 'auth.remind-password' | translate}} </h6>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
