/* You can add global styles to this file, and also import other style files */
@import "~@ng-select/ng-select/themes/default.theme.css";


.toast-bottom-right {
  right: 12px;
  bottom: 12px;
  width: 30%;
}
.toast-bottom-left {
  bottom: 12px;
  left: 12px;
  width: 30%;
}
.table-hover tbody tr:hover {
  background-color: rgba(0,0,0,.075);
}

.dataTables_wrapper .dataTables_filter input,
.dataTables_filter .form-control {
  width: 350px;
  border-radius: 2rem !important;
  height: 40px!important;
  background-color: transparent;
  border: 0;
  transition: all .15s cubic-bezier(.68,-.55,.265,1.55);
}

.dataTables_filter .form-control {
  color: rgba(0,0,0,.9);
}
